<script type="text/template" id="goal_template">
  <h3>
    <span>{{= name }}</span>
    <button class="destroy"></button>
  </h3>
  <ul class="tasks">
  </ul>
</script>
<script type="text/template" id="task_template">
    <div class="view">
      <input class="toggle" type="checkbox" {{ if(done){ print("checked");} }}>
      <label>{{= name }}</label>
      <button class="destroy"></button>
      <button class="btn btn-success btn-mini">Start</button>
    </div>
    <input class="edit">
</script>
<script type="text/template" id="timer_template">
  {{ if(task_name){  }}
      <button id="stop" class="span4 btn btn-mini btn-danger">stop</button>
      <div class="span8" id="timer_task_name">{{= task_name }}</div>
  {{ } }}
</script>
