<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>
<div class="page-header">
  <h1>Just Do it  <small>Track and do</small></h1>
</div>

<div id="topline" class="row-fluid">
  <div class="span4">
    <input id="newtodo" placeholder="Add task to goal" autofocus="">
  </div>
  <div id="timers" class="span6 offset2">
    <span class="span4" id="timelet">
      <span id="timer"></span>
      <button id="stop" class="btn btn-mini btn-danger">stop</button>
      
    </span>
    <span  class="span4" id="tomato">
      <span id="tomato_timer"></span>
      <button id="tomato_squash" class="btn btn-mini btn-danger">Squash</button>
      <div class="progress">
        <div class="bar" id="tomato_bar" style="width: 60%;"></div>
      </div>
    </span>
    <span id="user_tomatoes" class="span4">2 tomatoes</span>
  </div>
</div>

<div id="goal_box">
</div>
<script type="text/javascript">
  window.tomato_length = 25;
</script>
<%= render 'templates' %>
<% content_for :pagejs do %>
<script type="text/javascript">
  _.templateSettings = {
    	evaluate:    /\{\{(.+?)\}\}/g,
    	interpolate: /\{\{=(.+?)\}\}/g
	};
</script>
<%= javascript_include_tag "home/index" %>
<script type="text/javascript">
  window.Goals.reset(<%= raw current_user.goals.where(archived: false).to_json %>);
</script>

<% end %>
